@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --background: #252127;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #252127;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Rubik', sans-serif;
}

a {
  font-family: 'Courier New', Courier, monospace;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

