@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lunasima&display=swap");

:root {
  --background: #252127;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #252127;
  }
}


.icon-container {
  transition: transform 0.2s;
}
.icon-container:hover {
  transform: translateY(-10px);
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Rubik', sans-serif;
  overflow-x: hidden
}

a {
  font-family: 'Courier New', Courier, monospace;
}

.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.animated-border {
  animation: liquidBorder 5s infinite;
}

@keyframes liquidBorder {
  0%, 100% {
    border-radius: 50% 50% 50% 50%;

  }
  25% {
    border-radius: 60% 40% 60% 40%;

  }
  50% {
    border-radius: 40% 60% 40% 60%;

  }
  75% {
    border-radius: 50% 50% 60% 40%;

  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

